integration-n8n/example-workflows/backend-echo-non-proxied.json
{
  "name": "Tollara Demo — Backend Echo (non-proxied)",
  "nodes": [
    {
      "parameters": {
        "content": "## Backend — Echo API (non-proxied)\n\n**Tollara:** non-proxied service (seller) — direct webhook URL\n\n**Webhook path:** `subscriber-echo`\n\n**Caller invokes:** POST webhook with `Authorization: Bearer <serviceKey>`\n\n**After import:** set **Service Secret** on **Validate Key** and **Report Usage**. **Service ID** on Validate Key is optional (inferred from the Bearer key). For local Docker, enable **Set API Endpoints** on those nodes (Core + Usage URLs).",
        "height": 260,
        "width": 440
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -80]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subscriber-echo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000010",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "d4e5f6a7-0003-4000-8000-subscriber-echo"
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "serviceKeySource": "webhookAuthorization"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000011",
      "name": "Tollara Validate Key",
      "type": "n8n-nodes-tollara.tollaraValidateKey",
      "typeVersion": 1,
      "position": [240, 300]    },
    {
      "parameters": {
        "jsCode": "const v = $('Tollara Validate Key').first().json.userContext;\nconst body = $input.first().json.body ?? {};\nreturn [{\n  json: {\n    status: 'ok',\n    message: `Hello, subscriber (product ${v.serviceProductId}, status ${v.subscriptionStatus})`,\n    grantAccess: v.grantAccess,\n    echo: body,\n    servedAt: new Date().toISOString(),\n  },\n}];"
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000012",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000013",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "userId": "={{ $('Tollara Validate Key').item.json.userContext.userId }}",
        "serviceId": "={{ $('Tollara Validate Key').item.json.userContext.serviceId }}",
        "unitsUsed": 1
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000014",
      "name": "Tollara Report Usage",
      "type": "n8n-nodes-tollara.tollaraReportUsage",
      "typeVersion": 1,
      "position": [960, 300]    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Tollara Validate Key",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tollara Validate Key": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond OK": {
      "main": [
        [
          {
            "node": "Tollara Report Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
