integration-n8n/example-workflows/backend-topic-brief-async.json
{
  "name": "Tollara Demo — Backend Topic Brief (proxied async)",
  "nodes": [
    {
      "parameters": {
        "content": "## Backend — Topic Brief API\n\n**Tollara:** proxied **async** service (seller)\n\n**Webhook path:** `topic-brief`\n\n**Listing must be async** (`isAsync`). Caller invokes `POST …/invoke/async` with `{ \"topic\": \"Docker\" }` — **not** sync invoke.\n\n10s waits before 50%/75% progress and after 75% for visible frontend polling.\n\n**Error paths:** Verify **Failure** → 401; !grantAccess → 403; parse fail → 400; !progressSuccess or wiki fetch fail → **Complete Failed**; !completeSuccess → Complete Warning.\n\n**After import:** run `npm run repair:workflows` from `integration-n8n` if **Tollara Verify Request** shows a broken icon, then set **Service Secret** on every Tollara node. For local Docker, enable **Set API Endpoints** on Progress/Complete and set Usage API URL (e.g. `http://host.docker.internal:8084`).\n\nPair with **subscriber-proxied-async-agent** (or use **proxied-agent** Docker backend instead of this n8n webhook).",
        "height": 300,
        "width": 460
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-560, -220]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topic-brief",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000010",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 180],
      "webhookId": "c3d4e5f6-0002-4000-8000-topic-brief"
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "rawBodyBinaryProperty": "data"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000011",
      "name": "Tollara Verify Request",
      "type": "n8n-nodes-tollara.tollaraVerifyRequest",
      "typeVersion": 2,
      "position": [300, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{
            "id": "cond-grant",
            "leftValue": "={{ $json.userContext.grantAccess }}",
            "rightValue": "",
            "operator": { "type": "boolean", "operation": "true", "singleValue": true }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000021",
      "name": "Grant Access?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [600, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', message: 'Unauthorized', code: $json.tollaraErrorCode } }}",
        "options": { "responseCode": 401 }
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001e",
      "name": "Respond Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [600, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', message: 'Forbidden — subscription does not grant access' } }}",
        "options": { "responseCode": 403 }
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001f",
      "name": "Respond Forbidden",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 420]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nlet raw;\nconst bin = item.binary?.data;\nif (bin?.data) {\n  raw = JSON.parse(Buffer.from(bin.data, 'base64').toString('utf8'));\n} else if (typeof $json.body === 'string') {\n  raw = JSON.parse($json.body || '{}');\n} else {\n  raw = $json.body ?? {};\n}\n\nlet parseOk = true;\nlet parseError = null;\nlet requestId = null;\nlet progressUrl = null;\nlet callbackUrl = null;\nlet topic = null;\n\nif (raw.request_id == null && raw.topic != null && raw.payload == null) {\n  parseOk = false;\n  parseError = 'Sync-shaped body — use async invoke';\n} else {\n  const inner = raw.payload != null\n    ? (typeof raw.payload === 'string' ? JSON.parse(raw.payload || '{}') : raw.payload)\n    : {};\n  topic = (inner.topic ?? '').trim();\n  requestId = raw.request_id ?? null;\n  progressUrl = raw.progress_url ?? null;\n  callbackUrl = raw.callback_url ?? null;\n  if (!topic) { parseOk = false; parseError = 'Missing topic'; }\n  else if (!requestId) { parseOk = false; parseError = 'Missing request_id'; }\n}\n\nreturn [{ json: { ...$json, parseOk, parseError, requestId, progressUrl, callbackUrl, topic, userContext: $json.userContext } }];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000012",
      "name": "Parse Async Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'accepted', requestId: $json.requestId } }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000013",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{
            "id": "cond-parse-ok",
            "leftValue": "={{ $json.parseOk }}",
            "rightValue": "",
            "operator": { "type": "boolean", "operation": "true", "singleValue": true }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000022",
      "name": "Parse OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1200, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', message: $json.parseError } }}",
        "options": { "responseCode": 400 }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000023",
      "name": "Respond Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 420]
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "progressUrl": "={{ $('Parse Async Envelope').item.json.progressUrl }}",
        "requestId": "={{ $('Parse Async Envelope').item.json.requestId }}",
        "stage": "Looking up topic",
        "percentageComplete": 25
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000015",
      "name": "Progress 25%",
      "type": "n8n-nodes-tollara.tollaraProgress",
      "typeVersion": 1,
      "position": [1800, 180]    },
    {
      "parameters": {
        "url": "={{ 'https://en.wikipedia.org/api/rest_v1/page/summary/' + encodeURIComponent($('Parse Async Envelope').item.json.topic) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000016",
      "name": "Fetch Wikipedia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2400, 180]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000017",
      "name": "Wait 10s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3000, 180],
      "webhookId": "e5f6a7b8-0002-4000-8000-wait2"
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "progressUrl": "={{ $('Parse Async Envelope').item.json.progressUrl }}",
        "requestId": "={{ $('Parse Async Envelope').item.json.requestId }}",
        "stage": "Building brief",
        "percentageComplete": 50
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000018",
      "name": "Progress 50%",
      "type": "n8n-nodes-tollara.tollaraProgress",
      "typeVersion": 1,
      "position": [3300, 180]    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Async Envelope').first().json;\nconst raw = $input.first().json;\nconst wiki = raw.body ?? raw;\nconst topic = parsed.topic;\nconst title = wiki.title ?? topic;\nconst summary = wiki.extract ?? 'No Wikipedia summary found for this topic.';\nconst source = wiki.content_urls?.desktop?.page ?? null;\nconst report = [\n  '# Topic brief: ' + topic,\n  '',\n  '**Title:** ' + title,\n  source ? '**Source:** ' + source : '',\n  '',\n  '## Summary',\n  summary,\n  '',\n  '---',\n  '_Generated by n8n + Tollara_',\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    requestId: parsed.requestId,\n    progressUrl: parsed.progressUrl,\n    callbackUrl: parsed.callbackUrl,\n    report,\n  },\n}];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000019",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3600, 180]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001a",
      "name": "Wait 10s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3900, 180],
      "webhookId": "f6a7b8c9-0002-4000-8000-wait3"
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "progressUrl": "={{ $json.progressUrl }}",
        "requestId": "={{ $json.requestId }}",
        "stage": "Finalising",
        "percentageComplete": 75
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001b",
      "name": "Progress 75%",
      "type": "n8n-nodes-tollara.tollaraProgress",
      "typeVersion": 1,
      "position": [4200, 180]    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001d",
      "name": "Wait 10s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4500, 180],
      "webhookId": "a7b8c9d0-0002-4000-8000-wait4"
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "callbackUrl": "={{ $('Build Report').item.json.callbackUrl }}",
        "requestId": "={{ $('Build Report').item.json.requestId }}",
        "status": "COMPLETED",
        "result": "={{ $('Build Report').item.json.report }}",
        "contentType": "text/markdown",
        "units": 1
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001c",
      "name": "Tollara Complete",
      "type": "n8n-nodes-tollara.tollaraComplete",
      "typeVersion": 1,
      "position": [4800, 180]    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-progress-success",
              "leftValue": "={{ $json.progressSuccess }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000025",
      "name": "Progress OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2100, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-wiki-ok",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 299,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            },
            {
              "id": "cond-wiki-ok-min",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000026",
      "name": "Wiki OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2700, 180]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Async Envelope').first().json;\nreturn [{ json: { callbackUrl: parsed.callbackUrl, requestId: parsed.requestId, failReason: 'Progress update failed' } }];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000020",
      "name": "Mark Progress Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2100, 560]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Async Envelope').first().json;\nconst wiki = $input.first().json;\nreturn [{ json: { callbackUrl: parsed.callbackUrl, requestId: parsed.requestId, failReason: 'Wikipedia fetch failed (HTTP ' + (wiki.statusCode ?? 'unknown') + ')' } }];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000027",
      "name": "Mark Wiki Failure",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2400, 560]
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "callbackUrl": "={{ $json.callbackUrl }}",
        "requestId": "={{ $json.requestId }}",
        "status": "FAILED",
        "result": "={{ $json.failReason || 'Job processing failed' }}",
        "units": 0
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000028",
      "name": "Complete Failed",
      "type": "n8n-nodes-tollara.tollaraComplete",
      "typeVersion": 1,
      "position": [2850, 560]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-complete-success",
              "leftValue": "={{ $json.completeSuccess }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000029",
      "name": "Complete OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [5100, 180]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { warning: 'Completion callback failed (job already finished)', completeHttpStatus: $json.completeHttpStatus ?? 0, completeHttpStatusText: $json.completeHttpStatusText, completeNetworkError: $json.completeNetworkError } }];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000024",
      "name": "Complete Warning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5100, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Tollara Verify Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tollara Verify Request": {
      "main": [
        [{ "node": "Grant Access?", "type": "main", "index": 0 }],
        [{ "node": "Respond Unauthorized", "type": "main", "index": 0 }]
      ]
    },
    "Grant Access?": {
      "main": [
        [{ "node": "Parse Async Envelope", "type": "main", "index": 0 }],
        [{ "node": "Respond Forbidden", "type": "main", "index": 0 }]
      ]
    },
    "Parse Async Envelope": {
      "main": [
        [{ "node": "Parse OK?", "type": "main", "index": 0 }]
      ]
    },
    "Parse OK?": {
      "main": [
        [{ "node": "Respond Accepted", "type": "main", "index": 0 }],
        [{ "node": "Respond Bad Request", "type": "main", "index": 0 }]
      ]
    },
    "Respond Accepted": {
      "main": [
        [
          {
            "node": "Progress 25%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress 25%": {
      "main": [
        [
          {
            "node": "Progress OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress OK?": {
      "main": [
        [
          {
            "node": "Fetch Wikipedia",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Progress Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Progress Failure": {
      "main": [
        [
          {
            "node": "Complete Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Wikipedia": {
      "main": [
        [
          {
            "node": "Wiki OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wiki OK?": {
      "main": [
        [
          {
            "node": "Wait 10s1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark Wiki Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Wiki Failure": {
      "main": [
        [
          {
            "node": "Complete Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s1": {
      "main": [
        [
          {
            "node": "Progress 50%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress 50%": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report": {
      "main": [
        [
          {
            "node": "Wait 10s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s2": {
      "main": [
        [
          {
            "node": "Progress 75%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress 75%": {
      "main": [
        [
          {
            "node": "Wait 10s3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s3": {
      "main": [
        [
          {
            "node": "Tollara Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tollara Complete": {
      "main": [
        [
          {
            "node": "Complete OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Complete OK?": {
      "main": [
        [],
        [
          {
            "node": "Complete Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
