integration-n8n/example-workflows/backend-url-metadata-sync.json
{
  "name": "Tollara Demo — Backend URL Metadata (proxied sync)",
  "nodes": [
    {
      "parameters": {
        "content": "## Backend — URL Metadata API\n\n**Webhook path:** `url-metadata`\n\n**POST body:** `{ \"url\": \"https://example.com\" }`.\n\n**Error paths:** Verify **Denied** → 401/403; invalid URL → 400; fetch fail → 502.\n\nSet **Service Secret** on Tollara backend nodes after import.",
        "height": 260,
        "width": 440
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-200, -120]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "url-metadata",
        "responseMode": "responseNode",
        "options": { "rawBody": true }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000010",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "b2c3d4e5-0001-4000-8000-url-metadata"
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "rawBodyBinaryProperty": "data"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000011",
      "name": "Tollara Verify Request",
      "type": "n8n-nodes-tollara.tollaraVerifyRequest",
      "typeVersion": 5,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nlet body;\nconst bin = item.binary?.data;\nif (bin?.data) {\n  body = JSON.parse(Buffer.from(bin.data, 'base64').toString('utf8'));\n} else if (typeof $json.body === 'string') {\n  body = JSON.parse($json.body || '{}');\n} else {\n  body = $json.body ?? {};\n}\nconst url = (body.url ?? '').trim();\nconst valid = /^https?:\\/\\//i.test(url);\nreturn [{ json: { ...$json, url, valid } }];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000012",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{
            "id": "cond-valid-url",
            "leftValue": "={{ $json.valid }}",
            "rightValue": "",
            "operator": { "type": "boolean", "operation": "true", "singleValue": true }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000013",
      "name": "URL Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [960, 180]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "fullResponse": true, "neverError": true } }
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000014",
      "name": "Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{
            "id": "cond-fetch-ok",
            "leftValue": "={{ $json.statusCode >= 200 && $json.statusCode < 300 }}",
            "rightValue": "",
            "operator": { "type": "boolean", "operation": "true", "singleValue": true }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-00000000001b",
      "name": "Fetch OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1440, 100]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.body ?? $input.first().json.data ?? '';\nconst url = $('Parse Input').first().json.url;\nfunction pick(re, text) { const m = text.match(re); return m ? m[1].trim() : null; }\nconst title = pick(/<title[^>]*>([^<]*)<\\/title>/i, html) || pick(/<meta[^>]+property=[\"']og:title[\"'][^>]+content=[\"']([^\"']+)[\"']/i, html);\nconst description = pick(/<meta[^>]+name=[\"']description[\"'][^>]+content=[\"']([^\"']+)[\"']/i, html) || pick(/<meta[^>]+property=[\"']og:description[\"'][^>]+content=[\"']([^\"']+)[\"']/i, html);\nreturn [{ json: { url, title, description, status: 'ok' } }];"
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000015",
      "name": "Extract Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1680, 40]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": { "responseCode": 200 }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000016",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1920, 40]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', message: 'Missing or invalid url — send { \"url\": \"https://...\" }' } }}",
        "options": { "responseCode": 400 }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000017",
      "name": "Respond Bad Request",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', message: $json.tollaraErrorMessage ?? 'Request denied', code: $json.tollaraErrorCode, httpStatus: $json.tollaraHttpStatus, subscriptionStatus: $json.userContext?.subscriptionStatus } }}",
        "options": { "responseCode": "={{ $json.tollaraHttpStatus ?? 401 }}" }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000019",
      "name": "Respond Denied",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [480, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'error', message: 'Fetch failed', statusCode: $json.statusCode } }}",
        "options": { "responseCode": 502 }
      },
      "id": "a1b2c3d4-0001-4000-8000-00000000001c",
      "name": "Respond Fetch Failed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1680, 180]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Tollara Verify Request", "type": "main", "index": 0 }]] },
    "Tollara Verify Request": {
      "main": [
        [{ "node": "Parse Input", "type": "main", "index": 0 }],
        [{ "node": "Respond Denied", "type": "main", "index": 0 }]
      ]
    },
    "Parse Input": { "main": [[{ "node": "URL Valid?", "type": "main", "index": 0 }]] },
    "URL Valid?": {
      "main": [
        [{ "node": "Fetch Page", "type": "main", "index": 0 }],
        [{ "node": "Respond Bad Request", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Page": { "main": [[{ "node": "Fetch OK?", "type": "main", "index": 0 }]] },
    "Fetch OK?": {
      "main": [
        [{ "node": "Extract Metadata", "type": "main", "index": 0 }],
        [{ "node": "Respond Fetch Failed", "type": "main", "index": 0 }]
      ]
    },
    "Extract Metadata": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "meta": { "templateCredsSetupCompleted": false }
}
