integration-n8n/example-workflows/backend-topic-brief-async.json
{
  "name": "Tollara Demo — Backend Topic Brief (proxied async)",
  "nodes": [
    {
      "parameters": {
        "content": "## Backend — Topic Brief API\n\n**Tollara:** proxied **async** service (seller)\n\n**Webhook path:** `topic-brief`\n\n**Listing must be async** (`isAsync`). Caller invokes `POST …/invoke/async` with `{ \"topic\": \"Docker\" }` — **not** sync invoke.\n\n10s waits before 50%/75% progress and after 75% for visible frontend polling.\n\n**After import:** run `npm run repair:workflows` from `integration-n8n` if **Tollara Verify Request** shows a broken icon, then set **Service Secret** on every Tollara node. For local Docker, enable **Set API Endpoints** on Progress/Complete and set Usage API URL (e.g. `http://host.docker.internal:8084`).\n\nPair with **subscriber-topic-brief-async** workflow.",
        "height": 300,
        "width": 460
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-220, -80]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topic-brief",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000010",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 320],
      "webhookId": "c3d4e5f6-0002-4000-8000-topic-brief"
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "rawBodyBinaryProperty": "data"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000011",
      "name": "Tollara Verify Request",
      "type": "n8n-nodes-tollara.tollaraVerifyRequest",
      "typeVersion": 1,
      "position": [240, 320]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nlet raw;\nconst bin = item.binary?.data;\nif (bin?.data) {\n  raw = JSON.parse(Buffer.from(bin.data, 'base64').toString('utf8'));\n} else if (typeof $json.body === 'string') {\n  raw = JSON.parse($json.body || '{}');\n} else {\n  raw = $json.body ?? {};\n}\n\nif (raw.request_id == null && raw.topic != null && raw.payload == null) {\n  throw new Error(\n    'Received sync-shaped body { \"topic\": \"...\" }. This backend requires async invoke — use POST …/invoke/async and set the Tollara endpoint to async (isAsync).'\n  );\n}\n\nconst inner = raw.payload != null\n  ? (typeof raw.payload === 'string' ? JSON.parse(raw.payload || '{}') : raw.payload)\n  : {};\nconst topic = (inner.topic ?? '').trim();\nif (!topic) {\n  throw new Error('Missing topic in async payload — invoke with { \"topic\": \"Docker\" } via …/invoke/async');\n}\nif (!raw.request_id) {\n  throw new Error('Missing request_id — gateway async invoke only (…/invoke/async)');\n}\n\nreturn [{\n  json: {\n    requestId: raw.request_id,\n    progressUrl: raw.progress_url,\n    callbackUrl: raw.callback_url,\n    topic,\n    userContext: $json.userContext,\n  },\n}];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000012",
      "name": "Parse Async Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'accepted', requestId: $json.requestId } }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000013",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 320]
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "progressUrl": "={{ $('Parse Async Envelope').item.json.progressUrl }}",
        "requestId": "={{ $('Parse Async Envelope').item.json.requestId }}",
        "stage": "Looking up topic",
        "percentageComplete": 25
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000015",
      "name": "Progress 25%",
      "type": "n8n-nodes-tollara.tollaraProgress",
      "typeVersion": 1,
      "position": [960, 320]    },
    {
      "parameters": {
        "url": "={{ 'https://en.wikipedia.org/api/rest_v1/page/summary/' + encodeURIComponent($('Parse Async Envelope').item.json.topic) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000016",
      "name": "Fetch Wikipedia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1200, 320]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000017",
      "name": "Wait 10s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1440, 320],
      "webhookId": "e5f6a7b8-0002-4000-8000-wait2"
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "progressUrl": "={{ $('Parse Async Envelope').item.json.progressUrl }}",
        "requestId": "={{ $('Parse Async Envelope').item.json.requestId }}",
        "stage": "Building brief",
        "percentageComplete": 50
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000018",
      "name": "Progress 50%",
      "type": "n8n-nodes-tollara.tollaraProgress",
      "typeVersion": 1,
      "position": [1680, 320]    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Async Envelope').first().json;\nconst wiki = $input.first().json;\nconst topic = parsed.topic;\nconst title = wiki.title ?? topic;\nconst summary = wiki.extract ?? 'No Wikipedia summary found for this topic.';\nconst source = wiki.content_urls?.desktop?.page ?? null;\nconst report = [\n  '# Topic brief: ' + topic,\n  '',\n  '**Title:** ' + title,\n  source ? '**Source:** ' + source : '',\n  '',\n  '## Summary',\n  summary,\n  '',\n  '---',\n  '_Generated by n8n + Tollara_',\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    requestId: parsed.requestId,\n    progressUrl: parsed.progressUrl,\n    callbackUrl: parsed.callbackUrl,\n    report,\n  },\n}];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000019",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1920, 320]
    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001a",
      "name": "Wait 10s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2160, 320],
      "webhookId": "f6a7b8c9-0002-4000-8000-wait3"
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "progressUrl": "={{ $json.progressUrl }}",
        "requestId": "={{ $json.requestId }}",
        "stage": "Finalising",
        "percentageComplete": 75
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001b",
      "name": "Progress 75%",
      "type": "n8n-nodes-tollara.tollaraProgress",
      "typeVersion": 1,
      "position": [2400, 320]    },
    {
      "parameters": {
        "amount": 10
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001d",
      "name": "Wait 10s3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2640, 320],
      "webhookId": "a7b8c9d0-0002-4000-8000-wait4"
    },
    {
      "parameters": {
        "serviceSecret": "YOUR_SERVICE_SECRET",
        "callbackUrl": "={{ $('Build Report').item.json.callbackUrl }}",
        "requestId": "={{ $('Build Report').item.json.requestId }}",
        "status": "COMPLETED",
        "result": "={{ $('Build Report').item.json.report }}",
        "contentType": "text/markdown",
        "units": 1
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001c",
      "name": "Tollara Complete",
      "type": "n8n-nodes-tollara.tollaraComplete",
      "typeVersion": 1,
      "position": [2880, 320]    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Tollara Verify Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tollara Verify Request": {
      "main": [
        [
          {
            "node": "Parse Async Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Async Envelope": {
      "main": [
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Accepted": {
      "main": [
        [
          {
            "node": "Progress 25%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress 25%": {
      "main": [
        [
          {
            "node": "Fetch Wikipedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Wikipedia": {
      "main": [
        [
          {
            "node": "Wait 10s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s1": {
      "main": [
        [
          {
            "node": "Progress 50%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress 50%": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report": {
      "main": [
        [
          {
            "node": "Wait 10s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s2": {
      "main": [
        [
          {
            "node": "Progress 75%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress 75%": {
      "main": [
        [
          {
            "node": "Wait 10s3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s3": {
      "main": [
        [
          {
            "node": "Tollara Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
