integration-n8n/example-workflows/subscriber-non-proxied-sync-agent.json
{
  "name": "Tollara Demo — Subscriber Non-Proxied Sync Agent",
  "nodes": [
    {
      "parameters": {
        "content": "## Subscriber — Non-proxied sync agent\n\nCalls **non-proxied-agent** (`agents/non-proxied-agent`, Docker `:9091`) **directly** with Bearer service key — bypasses the gateway.\n\n**Listing:** non-proxied / direct URL exposed, `realUrl` = `http://host.docker.internal:9091/api/test/sync`.\n\n**Set Config:** `YOUR_SERVICE_KEY`, `agentUrl` (defaults to local Docker URL).\n\nNo service/endpoint IDs needed for the HTTP call (only the service key).\n\n**Prerequisites:** core, usage + `non-proxied-service-local`. Agent `AGENT_SECRET` must match listing secret.",
        "height": 260,
        "width": 520
      },
      "id": "f1a2b3c4-0007-4000-8000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-560, -220]
    },
    {
      "parameters": {},
      "id": "f1a2b3c4-0007-4000-8000-000000000010",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    serviceKey: 'YOUR_SERVICE_KEY',\n    agentUrl: 'http://host.docker.internal:9091/api/test/sync',\n    invokeBody: JSON.stringify({ message: 'Hello from n8n non-proxied' }),\n  },\n}];"
      },
      "id": "f1a2b3c4-0007-4000-8000-000000000011",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').item.json.agentUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Config').item.json.serviceKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Set Config').item.json.invokeBody }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "f1a2b3c4-0007-4000-8000-000000000012",
      "name": "POST Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{
            "id": "cond-http-ok",
            "leftValue": "={{ $json.statusCode >= 200 && $json.statusCode < 300 }}",
            "rightValue": "",
            "operator": { "type": "boolean", "operation": "true", "singleValue": true }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1a2b3c4-0007-4000-8000-000000000013",
      "name": "Response OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst body = typeof row.body === 'string' ? JSON.parse(row.body || '{}') : (row.body ?? {});\nreturn [{ json: { statusCode: row.statusCode, message: body.message, receivedPayload: body.receivedPayload, raw: body } }];"
      },
      "id": "f1a2b3c4-0007-4000-8000-000000000014",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nconst body = typeof row.body === 'string' ? row.body : JSON.stringify(row.body ?? {});\nreturn [{ json: { status: 'error', message: 'Direct agent call failed', statusCode: row.statusCode, body } }];"
      },
      "id": "f1a2b3c4-0007-4000-8000-000000000015",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 440]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]] },
    "Set Config": { "main": [[{ "node": "POST Agent", "type": "main", "index": 0 }]] },
    "POST Agent": { "main": [[{ "node": "Response OK?", "type": "main", "index": 0 }]] },
    "Response OK?": {
      "main": [
        [{ "node": "Format Result", "type": "main", "index": 0 }],
        [{ "node": "Format Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "meta": { "templateCredsSetupCompleted": false }
}
