integration-n8n/example-workflows/subscriber-url-metadata-sync.json
{
  "name": "Tollara Demo — Subscriber URL Metadata (invoke sync)",
  "nodes": [
    {
      "parameters": {
        "content": "## Subscriber — URL Metadata (sync invoke)\n\n**Error path:** Invoke !tollaraOk → Format Error.\n\nEdit **Set Config** before running.",
        "height": 180,
        "width": 460
      },
      "id": "d1e2f3a4-0004-4000-8000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-220, -100]
    },
    {
      "parameters": {},
      "id": "d1e2f3a4-0004-4000-8000-000000000010",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    serviceKey: 'YOUR_SERVICE_KEY',\n    serviceId: 'YOUR_SERVICE_ID',\n    endpointId: 'YOUR_URL_METADATA_ENDPOINT_ID',\n    invokeBody: JSON.stringify({ url: 'https://example.com' }),\n  },\n}];"
      },
      "id": "d1e2f3a4-0004-4000-8000-000000000011",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "async": false,
        "serviceKey": "={{ $('Set Config').item.json.serviceKey }}",
        "serviceId": "={{ $('Set Config').item.json.serviceId }}",
        "endpointId": "={{ $('Set Config').item.json.endpointId }}",
        "body": "={{ $('Set Config').item.json.invokeBody }}"
      },
      "id": "d1e2f3a4-0004-4000-8000-000000000012",
      "name": "Tollara Invoke",
      "type": "n8n-nodes-tollara.tollaraInvoke",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{
            "id": "cond-invoke-ok",
            "leftValue": "={{ $json.tollaraOk }}",
            "rightValue": "",
            "operator": { "type": "boolean", "operation": "true", "singleValue": true }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d1e2f3a4-0004-4000-8000-000000000014",
      "name": "Invoke OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [720, 300]
    },
    {
      "parameters": {
        "jsCode": "const invoke = $('Tollara Invoke').first().json;\nconst data = invoke.data ?? {};\nreturn [{\n  json: {\n    statusCode: invoke.statusCode,\n    url: data.url,\n    title: data.title,\n    description: data.description,\n    raw: invoke.body,\n  },\n}];"
      },
      "id": "d1e2f3a4-0004-4000-8000-000000000013",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 240]
    },
    {
      "parameters": {
        "jsCode": "const invoke = $('Tollara Invoke').first().json;\nreturn [{ json: { status: 'error', message: 'Invoke failed', statusCode: invoke.statusCode, tollaraErrorCode: invoke.tollaraErrorCode, body: invoke.body } }];"
      },
      "id": "d1e2f3a4-0004-4000-8000-000000000015",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 380]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]] },
    "Set Config": { "main": [[{ "node": "Tollara Invoke", "type": "main", "index": 0 }]] },
    "Tollara Invoke": { "main": [[{ "node": "Invoke OK?", "type": "main", "index": 0 }]] },
    "Invoke OK?": {
      "main": [
        [{ "node": "Format Result", "type": "main", "index": 0 }],
        [{ "node": "Format Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "meta": { "templateCredsSetupCompleted": false }
}
