integration-n8n/example-workflows/subscriber-url-metadata-estimate.json
{
  "name": "Tollara Demo — Subscriber URL Metadata + Estimate",
  "nodes": [
    {
      "parameters": {
        "content": "## Subscriber — URL Metadata with Estimate Usage\n\nSame as **subscriber-url-metadata-sync**, but runs **Tollara Estimate Usage** on core before invoke.\n\n**Credential:** Tollara Subscriber API — set **Gateway** (`:8083`) and **Core** (`:8081`) URLs + service secret for estimate.\n\nEdit **Set Config** before running.",
        "height": 260,
        "width": 460
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-220, -100]
    },
    {
      "parameters": {},
      "id": "d2e3f4a5-0005-4000-8000-000000000010",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    serviceKey: 'YOUR_SERVICE_KEY',\n    serviceId: 'YOUR_SERVICE_ID',\n    endpointId: 'YOUR_URL_METADATA_ENDPOINT_ID',\n    estimatedUnits: 1,\n    invokeBody: JSON.stringify({ url: 'https://example.com' }),\n  },\n}];"
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000011",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "serviceKey": "={{ $('Set Config').item.json.serviceKey }}",
        "serviceId": "={{ $('Set Config').item.json.serviceId }}",
        "estimatedUnits": "={{ $('Set Config').item.json.estimatedUnits }}"
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000012",
      "name": "Tollara Estimate Usage",
      "type": "n8n-nodes-tollara.tollaraEstimateUsage",
      "typeVersion": 1,
      "position": [480, 300],
      "credentials": {
        "tollaraApi": {
          "name": "Tollara Subscriber API"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "async": false,
        "serviceKey": "={{ $('Set Config').item.json.serviceKey }}",
        "serviceId": "={{ $('Set Config').item.json.serviceId }}",
        "endpointId": "={{ $('Set Config').item.json.endpointId }}",
        "body": "={{ $('Set Config').item.json.invokeBody }}"
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000013",
      "name": "Tollara Invoke",
      "type": "n8n-nodes-tollara.tollaraInvoke",
      "typeVersion": 1,
      "position": [720, 300],
      "credentials": {
        "tollaraApi": {
          "name": "Tollara Subscriber API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const estimate = $('Tollara Estimate Usage').first().json;\nconst invoke = $('Tollara Invoke').first().json;\nconst data = invoke.data ?? {};\nreturn [{\n  json: {\n    estimate,\n    statusCode: invoke.statusCode,\n    url: data.url,\n    title: data.title,\n    description: data.description,\n  },\n}];"
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000014",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Tollara Estimate Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tollara Estimate Usage": {
      "main": [
        [
          {
            "node": "Tollara Invoke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tollara Invoke": {
      "main": [
        [
          {
            "node": "Format Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
