integration-n8n/example-workflows/subscriber-proxied-sync-agent-estimate.json
{
  "name": "Tollara Demo — Subscriber Proxied Sync Agent + Estimate",
  "nodes": [
    {
      "parameters": {
        "content": "## Subscriber — Proxied sync + Estimate Usage\n\nRuns **Tollara Estimate Usage** before sync invoke.\n\n**Set Config:** `YOUR_SERVICE_KEY`, `YOUR_SERVICE_ID`, `YOUR_SERVICE_SECRET`, `YOUR_PROXIED_SYNC_ENDPOINT_ID`.",
        "height": 260,
        "width": 520
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-560, -220]
    },
    {
      "parameters": {},
      "id": "d2e3f4a5-0005-4000-8000-000000000010",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 200]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    serviceKey: 'YOUR_SERVICE_KEY',\n    serviceId: 'YOUR_SERVICE_ID',\n    serviceSecret: 'YOUR_SERVICE_SECRET',\n    endpointId: 'YOUR_PROXIED_SYNC_ENDPOINT_ID',\n    estimatedUnits: 1,\n    invokeBody: JSON.stringify({ message: 'Hello from n8n proxied sync' }),\n  },\n}];"
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000011",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 200]
    },
    {
      "parameters": {
        "serviceSecret": "={{ $('Set Config').item.json.serviceSecret }}",
        "serviceKey": "={{ $('Set Config').item.json.serviceKey }}",
        "serviceId": "={{ $('Set Config').item.json.serviceId }}",
        "estimatedUnits": "={{ $('Set Config').item.json.estimatedUnits }}"
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000012",
      "name": "Tollara Estimate Usage",
      "type": "n8n-nodes-tollara.tollaraEstimateUsage",
      "typeVersion": 1,
      "position": [600, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "cond-est-ok",
              "leftValue": "={{ $json.tollaraOk }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            },
            {
              "id": "cond-would-allow",
              "leftValue": "={{ $json.wouldAllow }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000016",
      "name": "Estimate OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "async": false,
        "serviceKey": "={{ $('Set Config').item.json.serviceKey }}",
        "serviceId": "={{ $('Set Config').item.json.serviceId }}",
        "endpointId": "={{ $('Set Config').item.json.endpointId }}",
        "body": "={{ $('Set Config').item.json.invokeBody }}"
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000013",
      "name": "Tollara Invoke",
      "type": "n8n-nodes-tollara.tollaraInvoke",
      "typeVersion": 1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [{
            "id": "cond-invoke-ok",
            "leftValue": "={{ $json.tollaraOk }}",
            "rightValue": "",
            "operator": { "type": "boolean", "operation": "true", "singleValue": true }
          }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000017",
      "name": "Invoke OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1500, 200]
    },
    {
      "parameters": {
        "jsCode": "const estimate = $('Tollara Estimate Usage').first().json;\nconst invoke = $('Tollara Invoke').first().json;\nconst data = invoke.data ?? {};\nreturn [{ json: { estimate, statusCode: invoke.statusCode, message: data.message, receivedPayload: data.receivedPayload, raw: data } }];"
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000014",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 200]
    },
    {
      "parameters": {
        "jsCode": "const est = $('Tollara Estimate Usage').first().json;\nconst invoke = $('Tollara Invoke').item?.json;\nreturn [{ json: { status: 'error', message: invoke ? 'Invoke failed' : 'Estimate denied or failed', estimate: est, invoke } }];"
      },
      "id": "d2e3f4a5-0005-4000-8000-000000000015",
      "name": "Format Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 440]
    }
  ],
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Set Config", "type": "main", "index": 0 }]] },
    "Set Config": { "main": [[{ "node": "Tollara Estimate Usage", "type": "main", "index": 0 }]] },
    "Tollara Estimate Usage": { "main": [[{ "node": "Estimate OK?", "type": "main", "index": 0 }]] },
    "Estimate OK?": {
      "main": [
        [{ "node": "Tollara Invoke", "type": "main", "index": 0 }],
        [{ "node": "Format Error", "type": "main", "index": 0 }]
      ]
    },
    "Tollara Invoke": { "main": [[{ "node": "Invoke OK?", "type": "main", "index": 0 }]] },
    "Invoke OK?": {
      "main": [
        [{ "node": "Format Result", "type": "main", "index": 0 }],
        [{ "node": "Format Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "meta": { "templateCredsSetupCompleted": false }
}
