integration-n8n/example-workflows/topic-brief-async-backend.json
{
  "name": "Tollara Demo — Topic Brief API (proxied async backend)",
  "nodes": [
    {
      "parameters": {
        "content": "## Topic Brief API (async backend)\n\n**Tollara:** proxied **async** endpoint\n\n**Webhook path:** `topic-brief`\n\n**Invoke:** `POST …/invoke/async` with `{ \"topic\": \"Docker\" }`\n\nGateway forwards `request_id`, `progress_url`, `callback_url` in body.\n\n**Credential:** Tollara Proxied API",
        "height": 260,
        "width": 460
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000001",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-220, -80]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "topic-brief",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000010",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 320],
      "webhookId": "c3d4e5f6-0002-4000-8000-topic-brief"
    },
    {
      "parameters": {
        "rawBodyBinaryProperty": "data"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000011",
      "name": "Tollara Verify Request",
      "type": "n8n-nodes-tollara.tollaraVerifyRequest",
      "typeVersion": 1,
      "position": [240, 320],
      "credentials": {
        "tollaraApi": {
          "name": "Tollara Proxied API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = typeof $json.body === 'string' ? JSON.parse($json.body || '{}') : ($json.body ?? {});\nconst inner = typeof raw.payload === 'string' ? JSON.parse(raw.payload || '{}') : (raw.payload ?? {});\nconst topic = (inner.topic ?? '').trim();\nif (!topic) {\n  throw new Error('Missing topic in async payload — send { \"topic\": \"Docker\" }');\n}\nreturn [{\n  json: {\n    requestId: raw.request_id,\n    progressUrl: raw.progress_url,\n    callbackUrl: raw.callback_url,\n    topic,\n    userContext: $json.userContext,\n  },\n}];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000012",
      "name": "Parse Async Envelope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { status: 'accepted', requestId: $json.requestId } }}",
        "options": {
          "responseCode": 202
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000013",
      "name": "Respond Accepted",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 320]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000014",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [960, 320],
      "webhookId": "d4e5f6a7-0002-4000-8000-wait1"
    },
    {
      "parameters": {
        "progressUrl": "={{ $('Parse Async Envelope').item.json.progressUrl }}",
        "requestId": "={{ $('Parse Async Envelope').item.json.requestId }}",
        "stage": "Looking up topic",
        "percentageComplete": 25
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000015",
      "name": "Progress 25%",
      "type": "n8n-nodes-tollara.tollaraProgress",
      "typeVersion": 1,
      "position": [1200, 320],
      "credentials": {
        "tollaraApi": {
          "name": "Tollara Proxied API"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://en.wikipedia.org/api/rest_v1/page/summary/' + encodeURIComponent($('Parse Async Envelope').item.json.topic) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000016",
      "name": "Fetch Wikipedia",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 320]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000017",
      "name": "Wait 2s1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1680, 320],
      "webhookId": "e5f6a7b8-0002-4000-8000-wait2"
    },
    {
      "parameters": {
        "progressUrl": "={{ $('Parse Async Envelope').item.json.progressUrl }}",
        "requestId": "={{ $('Parse Async Envelope').item.json.requestId }}",
        "stage": "Building brief",
        "percentageComplete": 50
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000018",
      "name": "Progress 50%",
      "type": "n8n-nodes-tollara.tollaraProgress",
      "typeVersion": 1,
      "position": [1920, 320],
      "credentials": {
        "tollaraApi": {
          "name": "Tollara Proxied API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse Async Envelope').first().json;\nconst wiki = $input.first().json;\nconst topic = parsed.topic;\nconst title = wiki.title ?? topic;\nconst summary = wiki.extract ?? 'No Wikipedia summary found for this topic.';\nconst source = wiki.content_urls?.desktop?.page ?? null;\nconst report = [\n  '# Topic brief: ' + topic,\n  '',\n  '**Title:** ' + title,\n  source ? '**Source:** ' + source : '',\n  '',\n  '## Summary',\n  summary,\n  '',\n  '---',\n  '_Generated by n8n + Tollara_',\n].filter(Boolean).join('\\n');\n\nreturn [{\n  json: {\n    requestId: parsed.requestId,\n    progressUrl: parsed.progressUrl,\n    callbackUrl: parsed.callbackUrl,\n    report,\n  },\n}];"
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000019",
      "name": "Build Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2160, 320]
    },
    {
      "parameters": {
        "amount": 2
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001a",
      "name": "Wait 2s2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2400, 320],
      "webhookId": "f6a7b8c9-0002-4000-8000-wait3"
    },
    {
      "parameters": {
        "progressUrl": "={{ $json.progressUrl }}",
        "requestId": "={{ $json.requestId }}",
        "stage": "Finalising",
        "percentageComplete": 75
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001b",
      "name": "Progress 75%",
      "type": "n8n-nodes-tollara.tollaraProgress",
      "typeVersion": 1,
      "position": [2640, 320],
      "credentials": {
        "tollaraApi": {
          "name": "Tollara Proxied API"
        }
      }
    },
    {
      "parameters": {
        "callbackUrl": "={{ $json.callbackUrl }}",
        "requestId": "={{ $json.requestId }}",
        "status": "COMPLETED",
        "result": "={{ $json.report }}",
        "contentType": "text/markdown",
        "units": 1
      },
      "id": "b2c3d4e5-0002-4000-8000-00000000001c",
      "name": "Tollara Complete",
      "type": "n8n-nodes-tollara.tollaraComplete",
      "typeVersion": 1,
      "position": [2880, 320],
      "credentials": {
        "tollaraApi": {
          "name": "Tollara Proxied API"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Tollara Verify Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tollara Verify Request": {
      "main": [
        [
          {
            "node": "Parse Async Envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Async Envelope": {
      "main": [
        [
          {
            "node": "Respond Accepted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Accepted": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Progress 25%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress 25%": {
      "main": [
        [
          {
            "node": "Fetch Wikipedia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Wikipedia": {
      "main": [
        [
          {
            "node": "Wait 2s1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s1": {
      "main": [
        [
          {
            "node": "Progress 50%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress 50%": {
      "main": [
        [
          {
            "node": "Build Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Report": {
      "main": [
        [
          {
            "node": "Wait 2s2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s2": {
      "main": [
        [
          {
            "node": "Progress 75%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Progress 75%": {
      "main": [
        [
          {
            "node": "Tollara Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
